<%- include("../layouts/user-header.ejs") %> 

<h1>Reset Password</h1>

<%if(typeof message !== 'undefined'){%>
<h4><%=message%></h4>
<%}%>

<form action="" method="post">
  <input type="text" name="password" required placeholder="Enter Password" />
  <input type="text" name="user_id" value="<%=user_id%>" hidden />
  <br /><br />
  <input type="submit" value="Reset Password" />
</form>

<a href="/admin">Login</a>


<%- include("../layouts/admin-footer.ejs") %>
